NEXT_PUBLIC_API_URL=http://localhost:5000/api
# NEXT_PUBLIC_API_URL=https://your-backend-api.onrender.com/api
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id_here
NEXT_PUBLIC_IMGBB_API_KEY=your_imgbb_api_key_here
